*{
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: darksalmon;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
div{
    position: absolute;
    bottom:16px;
    background-color: rgba(0,0,0,0.1);
    padding:10px 20px;
    font-size: 1.4rem;
}
input{
    border:none;
    background-color: darksalmon;
    margin:12px;
    font-size: 1.4rem;
    text-align: center;
    width:50px;
    padding:4px;
}
input:focus{
    outline: none;
}
