@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet');

*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    margin:0;
}
.btn, .stop{
    padding:20px 26px;
    font-size: 23px;
    margin:10px;
    border:none;
    color:#fff;
    background-color:rebeccapurple;
    font-family: inherit;
    cursor: pointer;

}
.btn:hover , .stop:hover{
    background-color: lawngreen;
    color:black;
    opacity: 0.8;
}

.btn:focus , .stop:focus{
    outline: none;
}

